.Editor {
	height: 100vh;
	width: 100vw;
}
.functions {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.viewFlow {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
